.main-container {
    grid-template-columns: 15rem 1fr;
}

.s-container {
    width: 35rem;
    border-bottom-right-radius: .7rem;
    border-bottom-left-radius: .7rem;
    margin-top: 1rem;
}

.title {
    width: 100%;
    padding: .3rem .5rem;
    font-size: 1rem;
}
.style-btn {
    justify-content: flex-end;
    gap: 1rem;
    margin: .5rem 0 0 0;
    margin-right: 2rem;
    border: 1px solid;
    width: 100%;
    padding: .3rem;
}

.txt-style-btn {
    width: 1.2rem;
    height: 1.3rem;
    margin: 0 .1rem;
    background-color: transparent;
    border: none;
}

.txt-logo-img {
    width: 1rem;
}

.content {
    width: 100%;
    padding: .3rem;
    font-size: 1rem;
    border-bottom-right-radius: .7rem;
    border-bottom-left-radius: .7rem;
}

.footer-logo-img {
    width: 2rem;
}

.btn-section{
    border: 2px solid;
    gap: 5px;
    width: min-content;
    padding: 0 .5rem;
    padding-top: .5rem;
    cursor: pointer;
    border-radius: .5rem;
}
.create-note-btn {
    font-size: 1.2rem;
    width: max-content;
    border: none;
    background-color: transparent;
    padding-bottom: .7rem;
}

.plus-icon{
    width: 2rem;
    height: 2rem;
}