.login-main-container {
    min-height: 93vh;
}

.login-container {
    border: 2px solid var(--secondary-color);
    padding: 1rem 2rem;
    width: 20rem;
    border-radius: 1rem;
}

.pass-input {
    padding: .4rem;
    margin: .1rem 0 1rem 0;
}

.user-input{
    display: block;
    padding: .4rem;
    margin: .1rem 0 .4rem 0;
    width: 100%;
}

.link-color{
    color: var(--blue-600);
}

.pass-input{
    width: 100%;
    padding-right: 2.2rem ;
}

.visibility-style{
    width: 1.8rem;
    padding: 3px;
    right: 4px;
    margin-top: .2rem;
}

.submit-btn{
    margin-top: .3rem;
}

/*          Signup in           */

.signup-container {
    border: 2px solid var(--secondary-color);
    width: 25rem;
    padding: 1rem 2rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.input {
    padding: .5rem;
    margin-bottom: .8rem;
}

.name{
    display: flex;
    gap: 1rem;
}
.checkbox-input {
    width: 1rem;
    height: 1rem;
    margin-right: .3rem;
}

.width{
    width: 10rem;
}

.txt{
    font-size: 1rem;
    display: block;
}

.create-btn{
    background-color: var(--secondary-color);
    border: none;
    font-size: 1rem;
    border-radius: .3rem;
}

/*          Logout          */

.logout-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.logout-container {
    border: 2px solid var(--secondary-color);
    border-radius: .5rem;
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    height: 12rem;
    margin-top: 2rem;
    width: fit-content;
}

.logout-avatar-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logout-avatar {
    width: 5rem;
}

.logout-btn {
    padding: 5px;
    width: 100%;
    background-color: transparent;
    border-color: var(--secondary-color);
}

@media screen and (max-width: 800px) {
    .log-container {
        min-height: 79vh;
    }
}
