.filter-container{
    line-height: 1.3rem;
}

.display{
    display: none;
}

.inherit{
    display: inherit;
}

.filter-icon-btn{
    margin: .3rem 0 0 6rem;
    border: none;
    background-color: #fff;
}
.funnel-icon{
    width: 1.5rem;
}