.filter-container {
    line-height: 1.3rem;
}

.filter-container label {
    cursor: pointer;
}

.display {
    display: none;
}

.inherit {
    display: inherit;
}

.filter-icon-btn {
    margin: .3rem 0 0 6rem;
    border: none;
    background-color: var(--white);
}

.filter-icon {
    font-size: 1.5rem;
}