.nav-bar {
    padding-top: .3rem;
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 1px var(--gray-500);
    top: 0%;
}

.logo-design {
    margin-top: -.8rem;
    margin-left: 6rem;
}

.logo {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 1.2rem;
}

.side-nav-section {
    width: 12rem;
    margin-right: 6rem;
}

.login-btn {
    font-size: 1.3rem;
    padding: .3rem .8rem;
    cursor: pointer;
}

.darkmode-img {
    width: 1.8rem;
    cursor: pointer;
}