.nav-bar {
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 1px var(--gray-500);
    padding: .5rem 2rem;
    align-items: center;
}

.logo-design {
    margin-top: -.8rem;
}

.logo {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1.2rem;
}

.login-btn {
    cursor: pointer;
    background-color: initial;
    border: none;
}