.sideBar-container {
    height: 91vh;
}

.side-icon {
    display: flex;
    gap: .8rem;
    font-size: 1.3rem;
    margin: .5rem 0;
    padding: .4rem .7rem;
}

.active {
    color: var(--secondary-color);
}

.trash-icon {
    width: 1.4rem;
    margin-top: 8px;
}

.side-icon:hover {
    background-color: var(--gray-200);
}