.sideBar-container {
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    width: 15rem;
}

.side-icon {
    display: flex;
    gap: .5rem;
    font-size: 1.5rem;
    margin: 0rem 0;
    padding-left: .5rem;
    border-radius: .5rem;
    padding: .3rem .5rem;
}

.notes{
    padding: .5rem 1rem;
}
.side-icon:hover {
    background-color: var(--gray-200);
}