.sidebar-logo {
    width: 1.5rem;
}

.side-icon {
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    margin: 1rem 0;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding: .3rem .5rem;
}

.trash-icon{
    width: 1.4rem;
    margin-top: 8px;
}

.side-icon:hover {
    background-color: var(--gray-200);
}