.img-404 {
    width: 35rem;
    border: none;
}

.home-btn{
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1.5rem;
    font-weight: 600;
}

@media screen and (max-width: 450px) {
    .img-404 {
        width: 20rem;
    }
}