.main-container {
    grid-template-columns: 12rem 1fr 8rem;
}

.sideBar {
    border-right: 3px solid var(--secondary-color);
}

.editor-section {
    width: 35.2rem;
    border: 2px solid var(--secondary-color);
}

.title {
    padding: 5px .5rem;
    width: 35rem;
    border-bottom: 2px solid var(--secondary-color);
    border: none;
    outline: none;
}

.quill {
    width: 35rem;
}

.quill-editer {
    height: 5rem;
}

.label {
    padding: 6px .5rem;
    width: 35rem;
    margin-top: 2.2rem;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--secondary-color);
}

.editor-bottom-btn {
    width: 35rem;
    padding: 3px;
}

.editor-style-btn {
    margin: .2rem .3rem;
    margin-top: 3px;
    border: none;
    background-color: inherit;
}

#color-section button {
    margin: 0 2px;
}

.color-btn {
    position: absolute;
    width: 7rem;
}

.color-lens {
    border-radius: 50%;
    padding: .5rem;
}

#priority-section label {
    margin: 0 3px;
}

#priority-section label input {
    margin: 0 3px;
}

.priority-btn {
    position: absolute;
    width: 12rem;
    left: 4.5rem;
    bottom: 4px;
}

.d-none {
    display: none;
}

.d-inherit {
    display: inherit;
}

#color-section button:nth-child(1) {
    background-color: var(--red-900);
}

#color-section button:nth-child(2) {
    background-color: var(--green-900);
}

#color-section button:nth-child(3) {
    background-color: var(--yellow-900);
}

#color-section button:nth-child(4) {
    background-color: var(--aqua-900);
}

.bottom-style-icon {
    width: 1.5rem;
}

.add-note-btn {
    padding: .3rem .5rem;
    margin-right: .4rem;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.card {
    min-width: 8rem;
    height: 5rem;
    text-align: center;
}

.label-section {
    width: 17rem;
    height: 12rem;
    border: 2px solid var(--secondary-color);
    padding: 1rem;
    border-radius: .7rem;
    margin: 2rem 1rem 0 1rem;
}

.data-render {
    height: 9rem;
}

.priority-style {
    right: 0%;
    top: 0;
    background-color: transparent;
    font-size: .8rem;
}

.bottom-icon {
    bottom: 0%;
    right: 5%;
    visibility: hidden;
}

.bottom-icon button {
    margin: 0 5px;
    background-color: initial;
    border: none;
}

.bottom-icon button:nth-child(1) {
    font-size: 1.5rem;
}

.date {
    position: absolute;
    font-size: small;
}